# Ignoruj środowiska wirtualne (To tu siedzi TeX!)
venv/
.venv/
env/
Lib/
Include/
Scripts/

# Ignoruj pliki tymczasowe Pythona
__pycache__/
*.pyc

# Ignoruj pliki wygenerowane przez dokumentację (Twoje HTML)
html/
docs/

# Ignoruj pliki systemowe i IDE
.idea/
.vscode/
.DS_Store